[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
	branch = master
[submodule "rbenv"]
	path = rbenv
	url = git@github.com:rbenv/rbenv.git
	branch = master
[submodule "pyenv"]
	path = pyenv
	url = git@github.com:pyenv/pyenv.git
    branch = master
[submodule "ruby-build"]
	path = ruby-build
	url = git@github.com:rbenv/ruby-build.git
	branch = master
